{%TEMPLATE-START-reactRoute%}
import reactLogo from '@/assets/react.svg'
import '@/App.css'

function React() {

  return (
    <>
      <div>
        <a href="https://react.dev" target="_blank">
          <img src={reactLogo} className="logo react" alt="React logo" />
        </a>
      </div>
      <h1>Route: React</h1>
      <p className="read-the-docs">
        Click on the React logos to learn more
      </p>
    </>
  )
}

export default React
{%TEMPLATE-END-reactRoute%}
